::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track {
    background: '#FFFFFF';
    border-radius: 10px;
}

.gradient-background {
    background: #0F2027;
    /* background: linear-gradient(152deg, #d9caca, #d3d3d3, #f3ffe7, #f3ffe7); */
    background: linear-gradient(180deg, #ffffff, #e5d5d5, #e5e5e1, #f3f3f3);
}